/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*******************************************************************************
Theme Styles
*******************************************************************************/
body {
	box-sizing: border-box;
	color:#373737;
	background: #f2f2f2;
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	-webkit-text-size-adjust: 100%;
}
.outer {
  width: 100%;
}

.inner {
  position: relative;
  padding: 10px 10px;
  margin: 0 auto;
  width: 400px;
}
h3 {
	font-weight: bold;
	position: relative;
	padding: 0 0 0 10px;
	border-left: 6px solid #3498db;
	margin: 10px 0 10px 0;
}
h3::after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	width: 100%;
	height: 0;
	border-bottom: 1px solid #ccc;
}
h4 {
	font-weight: bold;
	padding: 0 0 0 10px;
	margin: 6px 0 6px 0;
	border-left: 6px solid #ccc;
}

h5 {
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	padding: 0 0 0 10px;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}
#loading img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}


/* ----- ヘッダー ----- */
#header_wrap .inner {
	background-image: url(images/unko.png);
	background-position: 10px top;
	background-repeat: no-repeat;
	height: 40px;
}

#header_wrap {
	background-image: url(images/bg_head.png);
	background-repeat: repeat;
}
#project_title{
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #fff;
	margin: 0px;
	padding: 0px 0px 0px 50px;

}

/* ----- フッター ----- */
#footer_wrap .inner {
	text-align: center;
	font-size: 10px;
}

select{
	width: 235px;
}
input[type="number" i]{
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
}
#main_content ,#header {
}
label {
	cursor:pointer;
}

/* ----- 装備情報 ----- */
#output {
	padding: 0px 0 0 30px;
}
#red {
	color:#800000;
	font-weight: bold;
}
#black {
	color:#000000;
	font-weight: bold;
}
#purple {
	color:#800080;
	font-weight: bold;
}
/*----- フォーム用テーブルCSS --*/
div #table {
	display:table; 
}
div .row{
	display:table-row;
}
div .row>div  {
	display:table-cell;
}
#table1>div:nth-child(1) {
	width:100px;
}
#table1>div:nth-child(2) {
	width:180px;
}
#table2>div:nth-child(1) {
	width:50px;
}
#table2>div:nth-child(2) {
	font-size: 12px;
	width:240px;
}
#table2>div:nth-child(3) {
	font-size: 12px;
	width:100px;
}